<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html> 
	<!--head-->
	<head>
		<title>M.Hourani | <%= title %> </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Create blogs</h1>
						<p>Start creating blogs here</p>
					</header>
<!-- nav-->
<%- include('./partials/nav.ejs') %>
				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">

							
					

						

							

							

								<!-- Form -->
									<section>
									
										<% if (locals.message) { %>
											<script>
												
												  alert("<%- message.msg;  %>");
												
												</script>
										  <% } %>
										<h2>Type in your amazing post</h2>
										<form method="post" action="/blogs">
											<div class="row gtr-uniform">
												<div class="col-6 col-12-xsmall">
													<input type="text" name="title" id="demo-name" value="" placeholder="Title" />
												</div>
												<div class="col-6 col-12-xsmall">
													<input type="text" name="snippet" id="demo-name" value="" placeholder="snippet" />
												</div>
												<div class="col-12">
													<textarea name="body" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="Send Message" class="primary" /></li>
												
													</ul>
												</div>
											</div>
										</form>
									</section>

							

							</section>

					</div>

				<!-- Footer -->
				<%- include('./partials/footer.ejs') %>

			</div>

		<!-- Scripts -->
		<%- include('./partials/scripts.ejs') %>

	</body>
</html>